@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-image: 
    linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.6)),
    url(../src/assets/Fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
#inicio{
    height: 567px;
}
.sombraTexto{
    text-shadow: 0 1px 2px black;
}
.sombraImagen{
    box-shadow: 0 2px 10px black;
}




